.panel-scroll {
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    $heightItem: 75px;
    $spaceBetween: 3rem;

    &__item {
        position: relative;
        height: $heightItem;
        margin-bottom: $spaceBetween;
        display: flex;
        align-items: center;

        &.current-day {
            &::before {
                background-color: $dark-blue;
            }
        }

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            right: -15px;
            transform: translateX(50%);
            width: 20px; 
            height: 20px;
            border-radius: 50%;
            padding: 4px;
            background-color: rgb(158, 158, 158);
            z-index: 2;
        }

        &::after {
            content: '';
            position: absolute;
            // bottom: 0;
            right: -17px;
            transform: translateX(-50%) translateY(-25%);
            height: calc(100% + 3rem);
            width: 2px;
            background-color: rgb(190, 190, 190);
        }
    }

    &__text {
        height: $heightItem;
        overflow: hidden;
        margin-bottom: $spaceBetween;
        display: flex;
        display: flex;
        flex-direction: column;
    }
}