.info-box-3 {
    cursor: pointer;

    .number {
        transition: all 150ms;
    }
    &:hover {
        .number {
            font-weight: bold;
        }
    }
}

.info-box--120px {
    height: 120px;

    .number {
        font-size: 2.5rem !important;
    }

    span {
        font-size: 2.25rem !important;
    }

    .content {
        padding: 7px 2rem;
    }
}