.mx-0 {
    margin-left: 0;
    margin-right: 0;
}

$sides: ("b": bottom, "t": top, 'l': left, 'r': right);

@each $prefix, $side in $sides {
    .p#{$prefix} {
        @for $i from 0 through 5 {
            &-#{$i} {
                padding-#{$side}: $i * .25rem !important;
            }
        }
    }
}

@each $prefix, $side in $sides {
    .m#{$prefix} {
        &-md-0 {
            @media screen and (max-width: 768px) {
                margin-#{$side}: 0 !important;
            }
        }
        @for $i from 0 through 5 {
            &-#{$i} {
                margin-#{$side}: $i * .25rem !important;
            }
        }
    }
}

.ml-auto {
    margin-left: auto;
}

.left {
    &-0 {
        left: 0;
    }
}

.p {

    @for $i from 1 through 5 {
        &-#{$i} {
            padding: calc(#{$i} * .25rem) !important;
        }
    }
}

.w-100 {
    width: 100%;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex !important;
}
.d-inline-flex {
    display: inline-flex !important;
}
.items {
    &-end {
        align-items: flex-end;
    }
    &-center {
        align-items: center;
    }
}
.justify-center {
    justify-content: center;
}
.flex-column {
    flex-direction: column;

    &-reverse {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 768px) {
    .flex-md-column {
        flex-direction: column;
    }
}
.flex-wrap {
    flex-wrap: wrap;
}
.justify-content-between {
    justify-content: space-between;
}

.no-before {
    &::before {
        content: none !important;
    }
}

.m-0 {
    margin: 0;
}

.z-20 {
    z-index: 20;
}

.p-0 {
    padding: 0 !important;
}
.px-5 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.h-100 {
    height: 100%;
}

.text-primary {
    color: #337ab7 !important;
}

.w-100 {
    width: 100% !important;
}

.fw-bold {
    font-weight: bold !important;
}

.form-label {
    font-size: 16px !important;
}

.h1 {
    font-size: 20px !important;
}