.bootstrap-select {
    .dropdown-toggle {
        padding: {
            left: 0;
            right: 0;
        };
    }
}

:required {
    + label {
        &::after {
            color: $red;
            content: ' *';
        }
    }
}