.hero-img {
    &__btn-center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 45px;
        height: 45px;
        justify-content: center;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 50%;
    }
}