.btn {
    cursor: pointer;

    &--outline {
        &-dark-blue {
            color: $dark-blue !important;
            border-color: $dark-blue;

            &:hover {
                background-color: $dark-blue;
                color: white !important;
            }
        }
    }

    &--inside-input {
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        // width: 150px;
        align-items: center;
    }

    &-back-to-top {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        right: 15px;
        bottom: 15px;
        z-index: 996;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        transition: all 0.4s;

        &:hover {
            color: #fff;
        }

        &.active {
            visibility: visible;
            opacity: 1;
        }

        i {
            font-size: 24px;
            color: #fff;
            line-height: 0;
        }

        &--blue {
            background: #47b2e4;

            &:hover {
                background: #6bc1e9;
            }

        }
        &--green {
            background-color: #50d8af;

            &:hover {
                background-color: #61e9c0;
            }
        }
    }
}
