.li-without-padding {
    li {
        padding: 0 !important;
    }
}
.no-before {
    &::before {
        content: none !important;
    }
}
.top-60px {
    top: 60px;
}
.left-1\/2 {
    left: 50%;
    transform: translateX(-50%);
}
.no-after {
    &::after {
        content: none !important;
    }
}

.embeded-full iframe {
    width: 100%;
}

.text {
    &-left {
        text-align: left;
    }
    &-white {
        color: white !important;
    }
}

.break-word {
    word-break: break-word;
}

.mt-auto {
    margin-top: auto;
}

.bg-template {
    background-color: #F44336;
}

.ps {
    &-4-half {
        padding-left: 1.75rem;
    }
}
