.li-without-padding {
    li {
        padding: 0 !important;
    }
}

.no-after {
    &::after {
        content: none !important;
    }
}

.embeded-full iframe {
    width: 100%;
}

.text-left {
    text-align: left;
}